<%# Time block %>
<div
  class="schedule-block hidden"
  data-column-target="block"
  data-start-time="<%= order.time.seconds_since_midnight %>"
  data-end-time="<%= (order.time + order.duration*60).seconds_since_midnight %>"
  data-location="<%= order.location_name %>"
>
  <div class="schedule-block-location-city">
    <span class="location"><%= order.location_name %></span>
    <span class="city"><%= render "icon_location" %><%= order.city %></span>
  </div>
  <div class="schedule-block-time-price">
    <span class="time"><%= render "icon_clock" %><%= format_time order.time %></span>
    <span class="price"><%= render "icon_tag" %>$<%= order.price %></span>
  </div>
</div>
