<%# Time block %>
<div
  class="schedule-block"
  data-column-target="block"
  data-starttime="<%= order.time.seconds_since_midnight %>"
  data-endtime="<%= (order.time + order.duration*60).seconds_since_midnight %>"
  style="top: <%= top_percent_for_time order.time %>%; height: <%= height_percent_for_time order.duration %>%; overflow: scroll;"
>
  <div class="schedule-block-location-city">
    <span class="location"><%= order.location_name %></span>
    <span class="city"><%= render "icon_location" %><%= order.city %></span>
  </div>
  <div class="schedule-block-time-price">
    <span class="time"><%= render "icon_clock" %><%= format_time order.time %></span>
    <span class="price"><%= render "icon_tag" %>$<%= order.price %></span>
  </div>
</div>
